<p style="color: green"><%= notice %></p>

<%= form_with url: plan_articles_aisle_path(@aisle), method: :post, local: true do %>
  <div class="mb-2">
    <%= label_tag :hfb, "Filter by HFB" %>
    <%= select_tag :hfb, options_for_select(Article.distinct.pluck(:HFB).compact.sort), include_blank: true, class: "form-select" %>
  </div>

  <div class="mb-2">
    <%= label_tag :pa, "Filter by PA" %>
    <%= select_tag :pa, options_for_select(Article.distinct.pluck(:PA).compact.sort), include_blank: true, class: "form-select" %>
  </div>

  <%= submit_tag "Plan Articles", class: "btn btn-primary" %>
<% end %>

<%= button_to "Destroy Non-00 Levels", destroy_nonzero_levels_aisle_path(@aisle),
              method: :delete,
              data: { confirm: "Are you sure you want to delete ALL non-00 levels for this aisle?" },
              class: "btn btn-danger mt-3" %>


<%= link_to "Download Aisle Assignments CSV", export_assignments_aisle_path(@aisle), class: "btn btn-secondary" %>

<%= render @aisle %>

<div>
  <%= link_to "Edit this aisle", edit_aisle_path(@aisle) %> |
  <%= link_to "Back to aisles", store_aisles_path(@aisle.store) %>
  <%= button_to "Destroy this aisle", @aisle, method: :delete %>
</div>

<h2>Planned Articles</h2>

<% @sections.each do |section| %>
  <div class="card mb-4">
    <div class="card-header">
      <strong>Section <%= section.sectionnum %></strong>  
      (Height: <%= section.sec_height %> mm, Depth: <%= section.sec_depth %> mm)
    </div>
    <div class="card-body">
      <% section.levels.order(:level_num).each do |level| %>
        <div class="mb-3">
          <h5>
            Level <%= level.level_num %> 
            (Depth: <%= level.level_depth %> mm, 
            <strong>Auto-calculated Level Height:</strong> <%= level.level_height %> mm)
          </h5>
          <% planned_articles = level.articles.where(planned: true) %>
          <% if planned_articles.any? %>
            <ul>
              <% planned_articles.each do |article| %>
                <li>
                  <strong><%= article.ARTNO %></strong> - <%= article.ARTNAME_UNICODE %> |
                  W: <%= article.CP_WIDTH || article.UL_WIDTH_GROSS %> mm,
                  H: 
                  <% if level.level_num == "00" %>
                    <% if article.DT.to_s == "1" %>
                      <%= article.UL_HEIGHT_GROSS %> mm
                    <% elsif article.DT.to_s == "0" && article.WEIGHT_G.to_i > 22226 %>
                      <%= (article.CP_HEIGHT.to_i * article.RSSQ.to_i) + 254 %> mm
                    <% else %>
                      <%= article.CP_HEIGHT || article.UL_HEIGHT_GROSS %> mm
                    <% end %>
                  <% else %>
                    <%= article.CP_HEIGHT || article.UL_HEIGHT_GROSS %> mm
                  <% end %>,
                  L: <%= article.CP_LENGTH || article.UL_LENGTH_GROSS %> mm,
                  WT: <%= article.WEIGHT_G %> g,
                  DT: <%= article.DT %>,
                  Locations: <%= article.sections.count %>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p class="text-muted">No articles assigned to this level.</p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>