<div id="<%= dom_id article %>">

  <p>
    <strong>DT:</strong>
    <%= article.DT %>
  </p>
  
  <p>
    <strong>Hfb:</strong>
    <%= article.HFB %>
  </p>

  <p>
    <strong>Pa:</strong>
    <%= article.PA %>
  </p>

  <p>
    <strong>Salesmethod:</strong>
    <%= article.SALESMETHOD %>
  </p>

  <p>
    <strong>Baseonhand:</strong>
    <%= article.BASEONHAND %>
  </p>

  <p>
    <strong>Artno:</strong>
    <%= article.ARTNO %>
  </p>

  <p>
    <strong>Artname unicode:</strong>
    <%= article.ARTNAME_UNICODE %>
  </p>

  <p>
    <strong>Cp length:</strong>
    <%= article.CP_LENGTH %>
  </p>

  <p>
    <strong>Cp width:</strong>
    <%= article.CP_WIDTH %>
  </p>

  <p>
    <strong>Cp height:</strong>
    <%= article.CP_HEIGHT %>
  </p>

  <p>
    <strong>Weight g:</strong>
    <%= article.WEIGHT_G %>
  </p>

  <p>
    <strong>Slid h:</strong>
    <%= article.SLID_H %>
  </p>

  <p>
    <strong>Mpq:</strong>
    <%= article.MPQ %>
  </p>

  <p>
    <strong>Palq:</strong>
    <%= article.PALQ %>
  </p>

  <p>
    <strong>Ssd:</strong>
    <%= article.SSD %>
  </p>

  <p>
    <strong>Eds:</strong>
    <%= article.EDS %>
  </p>

  <p>
    <strong>Ul height gross:</strong>
    <%= article.UL_HEIGHT_GROSS %>
  </p>

  <p>
    <strong>Ul length gross:</strong>
    <%= article.UL_LENGTH_GROSS %>
  </p>

  <p>
    <strong>Ul width gross:</strong>
    <%= article.UL_WIDTH_GROSS %>
  </p>

  <p>
    <strong>New slid:</strong>
    <%= article.new_slid %>
  </p>

  <p>
    <strong>New assq:</strong>
    <%= article.new_assq %>
  </p>

  <p>
    <strong>Dtfp:</strong>
    <%= article.DTFP %>
  </p>

  <p>
    <strong>Dtfp plus:</strong>
    <%= article.DTFP_PLUS %>
  </p>

  <p>
    <strong>Rssq:</strong>
    <%= article.RSSQ %>
  </p>

  <p>
    <strong>Planned:</strong>
    <%= article.planned %>
  </p>

  <p>
    <strong>Store:</strong>
    <%= article.store_id %>
  </p>

</div>
