<p style="color: green"><%= notice %></p>

<%= @store.articles.count %>

<%= @store.articles.where(planned: true).count %> 

<%= render @store %>

<div>
  <%= link_to "Edit this store", edit_store_path(@store) %> |
  <%= link_to "Back to stores", stores_path %>

  <%= button_to "Destroy this store", @store, method: :delete %>
</div>


<% @store.articles.where(planned: false).each do |x| %> 


<div class="card">
  ARTNO: <%= x.ARTNO %> ARTNAME_UNICODE: <%= x.ARTNAME_UNICODE %> CP_LENGTH: <%= x.CP_LENGTH %>
</div>

<% end %>

<h2>Skipped Articles (with Reasons)</h2>

<% @skipped_articles.each do |entry| %>
  <div class="card mb-2 p-2">
    <strong>ARTNO:</strong> <%= entry[:artno] %><br>
    <strong>Reason:</strong> <%= entry[:reason] %>
  </div>
<% end %>