<div id="<%= dom_id section %>">
  <p>
    <strong>Sectionnum:</strong>
    <%= section.sectionnum %>
  </p>

  <p>
    <strong>Sec depth:</strong>
    <%= section.sec_depth %>
  </p>

  <p>
    <strong>Sec height:</strong>
    <%= section.sec_height %>
  </p>

  <p>
    <strong>Aisle:</strong>
    <%= section.aisle_id %>
  </p>

</div>
