<div id="<%= dom_id level %>">


  <h1>  <%= level.article.ARTNO %></h1>
  <p>
    <strong>Levelnum:</strong>
    <%= level.level_num %>
  </p>

  <p>
    <strong>Level height:</strong>
    <%= level.level_height %>
  </p>

  <p>
    <strong>Level depth:</strong>
    <%= level.level_depth %>
  </p>

  <p>
    <strong>Section:</strong>
    <%= level.section_id %>
  </p>

</div>
