<p style="color: green"><%= notice %></p>

<%= render @level %>

<div>
  <%= link_to "Edit this level", edit_level_path(@level) %> |
  <%= link_to "Back to levels", section_levels_path(@level.section) %>

  <%= button_to "Destroy this level", @level, method: :delete %>
</div>
